<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <h2>Build History</h2>
        </div>
        <div class="col-10">
            <h2>Graph</h2>
        </div>
    </div>
</div>